body{
    color: ghostwhite;
        background-color: darkslategray;
    }
    img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 5px solid rgb(8, 0, 255);
        float: left;

    }
    .wesley{
        margin: 20px 10px 10px 0;
        }
        .pedro{
            margin: 80px 10px 10px 0;
            }
            .gui{
                margin: 80px 10px 10px 0;
                }
                a{
                    text-decoration: none;
                    color:rgb(0, 247, 255);
                }
                a:hover{
                    color: royalblue;
                }
                .img2{
                    width: 20px;
                    height: 20px;
                    border-radius: 40%;
                    
                }
                #insta{
                    border: 2px;               }
                